@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }

head{
    background-color: bisque;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;

    width: 720px;
    font-size: medium;
    font-family: 'Courier New', monospace;
    /* border-radius: 7px;
    border-bottom: 5px;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-color: black;
    border-style: double; */
    box-shadow: 0 0 15px rgba(34, 34, 34, 0.795);
}

.menu{
    /* background-color: rgb(162, 152, 140); */
    background-color: rgba(255, 245, 223, 0.562);
    box-shadow: 10px 10px 40px bisque inset;
    border-radius: 8px;
    border: 5px solid rgb(58, 0, 0);
    font-style: italic;
    font-size: small;
    width: 100%;
}

.title_Sausage_Party_Menu{
    display: flex;
    align-items:center;
    justify-content:center;

    background-color: bisque;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    height: 40px;
    box-shadow: 0 0 5px rgb(196, 176, 152) inset;
    width: 100%;
    color: rgba(49, 0, 0, 0.868);
}

.meals{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.meal_list{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgb(196, 176, 152) inset;
    width: 100%;
}
.menu_footer{
    /* background-color: blanchedalmond */
    font-size: x-small;
}

.meal_list_price{
    display: flex;
    background-color: brown;
    height: auto;
}

.ingredients{
    font-size: medium;
    font-style: italic;
}

#mariachi{
    font-size: small;
    font-style: italic;
}

.Food{
    font-size: large;
}

#food{
    width: 91%;
    border-radius: 8px;
    background-color: rgba(255, 246, 228, 0.736);
}

.Drinks{
    font-size: large;   
}
#drinks{
    width: 91%;
    font-weight: bolder;
    border-radius: 8px;
    background-color: rgba(255, 246, 228, 0.736);
}

.Exclusives{
    font-size: large;
    object-fit: scale-down;
}

#mariachi_background{
    height: 270px;
    background-image: url('../assets/mariachi.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% 100%;
    box-shadow: 100px 0px 200px 10px rgb(178, 161, 140) inset;
}

#exclusives{
    width: 91%;
    background-color: transparent;
    border-radius: 8px;
    background-color: rgba(255, 246, 228, 0.736);
}

#price{
    font-weight: bold;
    width: 40%;
    text-align: right;
    padding-right: 5%;
}

#design{
    height: 20px;
    background-color: rgb(138, 26, 26);
}