:root {
    --border-radius: 8px;    
}

* {
    font-family: "Roboto Condensed", sans-serif;
    color: #444;
}

header {
    background-color: blanchedalmond;
    margin: 3em 0;
    box-shadow: 350px 0px 50px 0px bisque inset;
}

header h1 {
    color: rgba(49, 0, 0, 0.75);
    margin-left: 20%;
    padding: 0.2em 0;
    border-radius: 10px;
    border-color: 5px solid black;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-bar {
    justify-content: center;
    display: flex;
}

.button-bar button {
    margin: 0 1em;
    margin-top: 2em;
}

footer {
    text-align: center;
    padding: 3em 0;
}

button {
    padding: 0.5em;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0.5em;
}

#button-okay:hover {
    background-color: rgb(196, 226, 136);
}

#button-cancel:hover {
    background-color: rgba(253, 10, 23, 0.61);
}

#booking-notification {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;

    border: 2px solid black;
    border-radius: var(--border-radius);
    padding: 1em;

    font-size: 18px;
}