body{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.navigator{
    background-color: bisque;
}

#summary {
    font-size: 22px;
    margin-top: 2em;
    max-width: 20%;
    /* border: 2px solid black;
    padding: 1em;
    border-radius: 8px; */
}