:root {
  --border-radius: 8px;
  --background-col-nav: white;
  --background-col-nav-container: rgba(255, 245, 223, 0.562);
  --box-shadow-nav-container: 0 0 15px bisque inset;
  --border-col-nav-container: 5px solid rgb(58, 0, 0);
}

main {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(white 0%, darken(white,12%) 100%);
  background-color: var(--background-col-nav);
  color: rgba(49, 0, 0, 0.75);
}

*, *:before, *:after {
  box-sizing:border-box;
}

.group :after{
    content: "";
    display: table;
    clear: both;
  
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

/* .max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  }

.min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  } */


.calendar-wrapper {
  width:360px;
  height: 512px;
  margin:3em auto;
  padding:2em;
  background-color: var(--background-col-nav-container);
  box-shadow: var(--box-shadow-nav-container);
  border: var(--border-col-nav-container);
  border-radius: var(--border-radius);
}

.Zeitslots{
  display: flex;
  width: 250px;
  color: rgba(49, 0, 0, 0.75)
}

#timeslot-wrapper {
  padding: 2.4em 0;
  background: var(--background-col-nav-container);
  box-shadow: var(--box-shadow-nav-container);
  border: var(--border-col-nav-container);
  border-radius: var(--border-radius);
}

#person-wrapper {
  width: 250px;
  padding: 5.2em 0;
  background: var(--background-col-nav-container);
  box-shadow: var(--box-shadow-nav-container);
  border: var(--border-col-nav-container);
  border-radius: var(--border-radius);
}

.person_number{
  display: flex;
  width: 250px;
}

.timeslots-person_row{
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}


table {
  clear:both;
  width:100%;
  /* border:1px solid black; */
  border-radius:3px;
  border-collapse:collapse;
  color:white;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid black;
  border-top:1px solid black;
  width:100% / 7;
  border:none;
  color:black;
  text-transform:uppercase;
}
td.not-current {
  color:grey;
}
td.normal {
  color: black;
}
td.today {
  font-weight:700;
  color:blue;
  font-size:1.5em;
}
td.past {
  color:red;
}
td.farfuture{
    color:red;
}
thead td {
  border:none;
  color:black;
  text-transform:uppercase;
  font-size:1.5em;
}
#btnPrev {
  float:left;
  margin-bottom:20px;
}

#btnNext {
  float:right;
  margin-bottom:20px;
}

#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color: rgba(49, 0, 0, 0.75);
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
}
#btnPrev:hover , #btnNext:hover{
    color:green;
    font-weight:bold;
}

form {
	position: relative;
	/* width: 30em;
	height: 20em; */
	font: bold 15px/30px Georgia;
}

input[type="range"].vertikal {
	writing-mode: bt-lr;
	/* IE */
	
	-webkit-appearance: slider-vertical;
	/* WebKit */
	
	width: 10px;
	height: 250px;
	background-image: repeating-linear-gradient(0deg, white, white 8%, black 8%, black 9%);
}

label {
  margin-left: 0.5em;
}

label#n2 {
  margin-top: auto;
}

#person-wrapper output {
	color: black;
	padding: 1em 0.5em;
}

output:after {
	width: 5em;
}

#button_today{
  height: auto;
  /* background-color: white; */
  color: blue;
  font-size:x-large;
  font-weight: bold;
}

#button_today_clicked{
  height: auto;
  /* background-color: white; */
  color: blue;
  font-size:x-large;
  font-weight: bold;
  background-color: #7FFF00;
}

#button_normal{
  height: auto;
  font-size: medium;
}
#button_normal_clicked{
  height: auto;
  font-size: medium;
  background-color: #7FFF00;
}

#button_slots{
  height: auto;
  font-size: medium;
}
#button_slots_clicked{
  height: auto;
  font-size: medium;
  background-color: #7FFF00;
}

#return_to_main{
  font-size: medium;
}

#timeslot-wrapper {
  height: 512px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

#person-wrapper {
  width: 250px;
  height: 512px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

#mail-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.5em;

  font-size: 20px;
}

#mail-form input {
  width: 200px;
  padding: 0.3em;
}